{% extends 'base.html' %}

{% block login %}

  <form action="/user/login/" method="POST" class="form-inline">
  {% csrf_token %}
  <div class="form-group">
    <label for="username">Имя пользователя:</label>
    <input type="text" class="form-control" name="username" id="username">
  </div>
  <div class="form-group">
    <label for="password">Пароль:</label>
    <input type="password" name="password" id="password">
  </div>
    {% if login_error %}
                <label class="error">{{ login_error }}</label>
    {% endif %}
  <button type="submit" class="btn btn-default">Войти</button>
</form>


{% endblock %}